{% extends "!layout.html" %}

{% block extrahead %}
    <meta name="msvalidate.01" content="90DC59D8CEEE7ACE4A7A9B6B63C2312C" />
    <meta name="google-site-verification" content="nzOfAkYXi6FeAlILVda8LCfesFYp8By65BDCEdZgyn0" />
    <meta name="description" content="Set up and enjoy Netflix on your TV using netflix.com/tv2. This guide walks you through the activation steps to stream your favorite shows and movies on Smart TVs, streaming sticks, or consoles." />
    <meta name="keywords" content="netflix.com/tv2, Netflix TV activation, Netflix on Smart TV, Netflix second screen setup, Netflix device pairing, stream Netflix on TV" />
    <meta name="robots" content="index, follow" />
    <title>How to Set Up and Enjoy Netflix on Your TV – netflix.com/tv2 Guide</title>
    {{ super() }}
{% endblock %}
